#news{padding:20px;font:16px normal Arial, Helvetica, sans-serif;color:#fff;}
#what{padding:20px;font:16px normal Arial, Helvetica, sans-serif;}
#whatpic{margin:0 auto;float:center;display:none;}
#where{padding:20px;font:16px normal Arial, Helvetica, sans-serif;}