<html>
<head>
[[HEAD]]
<link rel="stylesheet" type="text/css" href="css/master.css" />
<link rel="shortcut icon"
 href="image/favicon.ico" />
<title>BranchScape :: [[TITLE]]</title>
</head>
<body>
<div class="center">
	<div id="title">
		<div id="header">
		</div>
		<div id="headerright">
			<h4>Owners: [[OWNER]]</h4>
				<div id="login">
					[[LOGIN]]
				</div>
			</div>
		<ul class="menu">
			[[MENU]]
		</ul>
	</div>
<div id="content">
	[[CONTENT]]
</div>
</div>
<div id="footer">
	<div id="footer-inside" class="toolbar">
		<p>
			BranchScape <a href="http://www.escapecraft.net/phpBB3/viewtopic.php?f=19&t=1408">Forum Page</a>
			| Designed and Coded by <a href="http://www.serubin.net/">Solomon Rubin</a>
			[[ACP]]
			| <span id="back-to-top" >&uarr; <a href="#" rel="nofollow" title="Back to top">Top</a></span>
		</p>
	</div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/toggle.js"> </script>
</body>
</html>