<html>
<head>
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="shortcut icon"
 href="../image/favicon.ico" />
 <title>BranchScape :: Towns/Districts</title>
</head>
<body>

<div class="content">
<div id="title">
<div id="header">
</div>
<div id="headerright">
	<h4>Owners: [[OWNERS]]</h4>
	<div id="login">
		[[LOGIN]]
	</div>
</div>
<ul class="menu">
[[MENU]]
</ul>
</div>
	<div id="main">
	<table>
		<tr>
			<td>[[ITEM_1]]</td><td>[[ITEM_2]]</td><td>[[ITEM_3]]</td>
		</tr>
		<tr>
			<td>[[ITEM_4]]</td><td>[[ITEM_5]]</td><td>[[ITEM_6]]</td>
		</tr>
		<tr>
			<td>[[ITEM_7]]</td><td>[[ITEM_8]]</td><td>[[ITEM_9]]</td>
		</tr>
		<tr>
			<td>[[ITEM_10]]</td><td>[[ITEM_11]]</td><td>[[ITEM_12]]</td>
		</tr>
		<tr>
			<td>[[ITEM_13]]</td><td>[[ITEM_14]]</td><td>[[ITEM_15]]</td>
		</tr>
		<tr>
			<td>[[ITEM_16]]</td><td>[[ITEM_17]]</td><td>[[ITEM_18]]</td>
		</tr>
		<tr>
			<td>[[ITEM_19]]</td><td>[[ITEM_20]]</td><td>[[ITEM_21]]</td>
		</tr>
		<tr>
			<td>[[ITEM_22]]</td><td>[[ITEM_23]]</td><td>[[ITEM_24]]</td>
		</tr>
		<tr>
			<td>[[ITEM_25]]</td><td>[[ITEM_26]]</td><td>[[ITEM_24]]</td>
		</tr>
		<tr>
			<td>[[ITEM_28]]</td><td>[[ITEM_29]]</td><td>[[ITEM_30]]</td>
		</tr>
		<tr>
			<td>[[ITEM_31]]</td><td>[[ITEM_32]]</td><td>[[ITEM_33]]</td>
		</tr>
		<tr>
			<td>[[ITEM_34]]</td><td>[[ITEM_35]]</td><td>[[ITEM_36]]</td>
		</tr>
		<tr>
			<td>[[ITEM_37]]</td><td>[[ITEM_38]]</td><td>[[ITEM_39]]</td>
		</tr>

	</table>
	</div>
	<div id="sidebar">
		<ul>
			<li><h2>Search</h2></li>
			<li><form action="index.php" method="get"><input type="text" name="search" /><input type="submit" value="Go!" /> </form><input type="button" value="Clear" onclick="javascript: window.location = 'index.php';" /></li>
			<li><h2>Spotlight</li>
			<li><img src="[[PICTURE]]" width="150px" height="150px" /></li>
			<li><h2>Recently Viewed</li>
			[[VIEWED]]
			<li><p>Designed and Coded by <a href="http://www.serubin.net/">Solomon Rubin</a></p></li>
		</ul>
	</div>
	</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/toggle.js"> </script>
</body>
</html>