<html>
<head>
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="shortcut icon"
 href="../../image/favicon.ico" />
<title>[[NAME]]</title>
</head>
<body>


<div class="content">
<div id="title">
<div id="header">
</div>
<div id="headerright">
<h4>Owners: Tanisjihanis, Serubin323</h4>
<div id="login">
	[[LOGIN]]
</div>
</div>
<ul class="menu">
[[MENU]]
</ul>
</div>
	<div id="main">
		<div id="name">
			<h1>[[NAME]]</h1>
		</div>
		<div id="desc">
			[[DESCRIPTION]]
		</div>
		<div id="banner">
			<a href="[[FORUM_URL]]" title="[[NAME]]" target="_blank"><img src="[[BANNER]]" /></a>
		</div>
		<div id="banner_link">
		<span><h2>BBCode:</h2><input onfocus="this.select();" onchange='this.value="[url=[[FORUM_URL]]] [img][[BANNER]][/img][/url]"' style="width:500px" type="text" value='[url=[[FORUM_URL]]] [img][[BANNER]][/img][/url]'></span>
		<span><h2>HTML:</h2><input onfocus="this.select();" onchange='this.value="<a href=\"[[FORUM_URL]]\" title=\"[[NAME]]\" ><img src=\"[[BANNER]]\" /></a>"' style="width:500px" type="text" value='<a href="[[FORUM_URL]]" title="[[NAME]]" ><img src="[[BANNER]]" /></a>'></span>
		</div>
	</div>
	<div id="sidebar">
		<ul>
			<li><h2>coordinates</h2></li>
			<li><h3>X:<span>[[X_COORD]]</span> Z:<span>[[Z_COORD]]</span></h3></li>
			<li><iframe src="[[MAP]]" width="150px" height="150px"></iframe></li>
			<li><h2>Forum Page</h2></li>
			<li><a href="[[FORUM_URL]]" title="Forum" target="_blank" ><img src="http://www.escapecraft.net/images/creeper_logo.png" width="150" height="75"/></a>
			<li><h2>Pictures</h2></li>
			<li><img src="[[PHOTO]]" width="150px" height="150px" /></li>
		</ul>
	</div>
</div>
<div id="footer">
	<div id="footer-inside" class="toolbar">
		<p>
			BranchScape <a href="http://www.escapecraft.net/phpBB3/viewtopic.php?f=19&t=1408">Forum Page</a>
			| Designed and Coded by <a href="http://www.serubin.net/">Solomon Rubin</a>
			[[ACP]]
			| <span id="back-to-top" >&uarr; <a href="#" rel="nofollow" title="Back to top">Top</a></span>
		</p>
	</div>
</div>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/toggle.js"> </script>
</body>
</html>